<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'pageuser', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'loop', 'tictactoc', 'jquery' , 'data-turbolinks-track': 'reload' %>
  </head>

  <body  onresize="resize()" style='position: absolute; padding:0; margin:0; height: 100%; width:100%;'>
    </br>
    </br>
    </br>
    </br>
    <% if user_signed_in? %>
    <%= current_user.email %> <br/>
      <span style="color:red">
        <%= link_to "Deconnection", destroy_user_session_path, method: :delete %> 
      </span>
    <% else %>
      <a href="/users/sign_in"><span style="color:blue">Connection</span></a>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
